<div class="card w-25 m-5 mx-auto p-4 gradient" id="login-card">
  <h2 class="my-4 text-center text-white">Organizations Admin Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <div class="form-group">
      <label for="email" class="text-white">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control my-2"
        formControlName="email"
        (input)="onFieldInput()"
      />
      <div *ngIf="shouldShowError('email')" class="text-danger my-2">
        Please enter a valid email address.
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password" class="text-white">Password:</label>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          class="form-control mt-2"
          formControlName="password"
          (input)="onFieldInput()"
        />
        <span
          class="input-group-text eye-icon mt-2"
          (click)="togglePasswordVisibility()"
          style="cursor: pointer"
        >
          <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          ></i>
        </span>
      </div>
      <div *ngIf="shouldShowError('password')" class="text-danger my-2">
        Password must be 8 characters, include at least one special character, one uppercase
        letter, one lowercase letter, and one digit.
      </div>
    </div>

    <!-- Remember Me -->
    <div class="form-group form-check my-4 d-flex gap-2 align-items-center">
      <input
        type="checkbox"
        class="form-check-input"
        id="remember-me"
        formControlName="rememberMe"
      />
      <label class="form-check-label text-white" for="remember-me">
        Remember Me
      </label>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn action-btn w-100 mb-2" id="login-btn">
      Login
    </button>

    <!-- Forgot Password Link -->
    <div class="text-center mt-3">
      <a
        [routerLink]="['/forgot-password']"
        class="text-decoration-none primary-text"
        id="forgot-password"
      >
        Forgot Password? <strong>Click here to Reset</strong>
      </a>
    </div>
  </form>
</div>
