<div class="card w-50 m-5 mx-auto p-5 text-center shadow-lg secondary-bg">
    <img
      src="assets/images/404.png"
      alt="404 Not Found"
      class="img-fluid mx-auto my-4"
      style="max-height: 150px;"
    />
  
    <h2 class="mb-2 primary-text mx-auto">Oops! Page not found</h2>
  
    <p class="mb-4 primary-text mx-auto">
      The link you followed is invalid or may have expired.<br />
      Please check the link or return to your dashboard.
    </p>
  
    <button
      class="btn action-btn"
      [routerLink]="['/super-admin-dashboard']"
    >
      Go to Dashboard
    </button>
  </div>
  