<div class="card w-50 m-5 mx-auto p-4 gradient" id="org-profile-card">
  <h2 class="my-3 text-center text-white">Organizations Profile</h2>
  <p class="text-center text-light mb-4">
    Please fill up your details to complete your profile!
  </p>

  <form [formGroup]="orgProfileForm" (ngSubmit)="onSubmit()">
    <div class="d-fex m-3">
      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 text-white">Admin First Name:</label>
        <div class="col-sm-9">
          <input formControlName="firstName" type="text" class="form-control" />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('firstName')?.touched &&
              orgProfileForm.get('firstName')?.invalid
            "
          >
            First name is required.
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 text-white">Admin Last Name:</label>
        <div class="col-sm-9">
          <input formControlName="lastName" type="text" class="form-control" />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('lastName')?.touched &&
              orgProfileForm.get('lastName')?.invalid
            "
          >
            Last name is required.
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 text-white">Title:</label>
        <div class="col-sm-9">
          <select formControlName="title" class="form-control">
            <option value="" disabled>Select a title</option>
            <option value="Admin">Admin</option>
            <option value="Data Manager">Data Manager</option>
            <option value="Flinger">Flinger</option>
          </select>
          <!-- <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('title')?.touched &&
              orgProfileForm.get('title')?.invalid
            "
          >
            Title is required.
          </div> -->
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 col-form-label text-white"
          >Admin Phone Number:</label
        >
        <div class="col-sm-9">
          <input
            formControlName="phoneNumber"
            type="tel"
            class="form-control"
          />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('phoneNumber')?.touched &&
              orgProfileForm.get('phoneNumber')?.invalid
            "
          >
            <span
              *ngIf="orgProfileForm.get('phoneNumber')?.errors?.['required']"
            >
              Phone number is required.
            </span>
            <span
              *ngIf="orgProfileForm.get('phoneNumber')?.errors?.['pattern']"
            >
              Enter a valid phone number (digits, spaces, dashes).
            </span>
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 col-form-label text-white">Address:</label>
        <div class="col-sm-9">
          <input formControlName="address" type="text" class="form-control" />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('address')?.touched &&
              orgProfileForm.get('address')?.invalid
            "
          >
            Please enter your organization's address.
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 col-form-label text-white"
          >Organization Name:</label
        >
        <div class="col-sm-9">
          <input formControlName="orgName" type="text" class="form-control" />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('orgName')?.touched &&
              orgProfileForm.get('orgName')?.invalid
            "
          >
            Your organization's name is required.
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 col-form-label text-white">Website:</label>
        <div class="col-sm-9">
          <input formControlName="website" type="url" class="form-control" />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('website')?.touched &&
              orgProfileForm.get('website')?.invalid
            "
          >
            <span *ngIf="orgProfileForm.get('website')?.errors?.['required']">
              Please enter your organization's website address.
            </span>
            <span *ngIf="orgProfileForm.get('website')?.errors?.['pattern']">
              Enter a valid URL.
            </span>
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <label class="col-sm-3 col-form-label text-white"
          >Organization Type:</label
        >
        <div class="col-sm-9">
          <select formControlName="orgType" class="form-control">
            <option value="" disabled>Select an organization type</option>
            <option value="Emergency Management">Emergency Management</option>
            <option value="Fire/Ems">Fire/Ems</option>
            <option value="Law Enforcement">Law Enforcement</option>
            <option value="Business">Business</option>
            <option value="Hospitals">Hospitals</option>
            <option value="Education">Education</option>
            <option value="NGOs">NGOs</option>
          </select>
          <!-- <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('orgType')?.touched &&
              orgProfileForm.get('orgType')?.invalid
            "
          >
            Please enter your organization's type.
          </div> -->
        </div>
      </div>

      <div class="row mb-4 align-items-center">
        <label class="col-sm-3 col-form-label text-white">Email:</label>
        <div class="col-sm-9">
          <input formControlName="email" type="email" class="form-control" />
          <div
            class="text-danger mt-1"
            *ngIf="
              orgProfileForm.get('email')?.touched &&
              orgProfileForm.get('email')?.invalid
            "
          >
            Please enter your organization's valid email address.
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn action-btn w-50 me-2">Submit</button>
      <button type="button" class="btn btn-secondary w-50 ms-2">Skip</button>
    </div>
  </form>
</div>
